* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    padding: 20px 60px;
    background-color: #CBCBCD;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.submitBtn {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #585563;
    color: #ffffff;
}

.submitBtn:hover {
    background-color: #44424D;
}

.result {
    display: none;
    margin-top: 20px;
    background-color: #EBEBEB;
    padding: 10px;
}